extends layout

block content
  h1= title
  p This error page responds with user data and custom arbitrary details:

  ul
    li id: 12345
    li username: john_doe
    li email: email@test.com
    li some_important_metric: foobar